<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1 class="new-heading">Create-New-Post</h1>
    <form method="POST" action="http://localhost:8080/posts" class="newpost-form">
        <input class="newpost-username" type="text" name="username" id="" placeholder="enter username">
        <textarea name="content" id="" placeholder="enter content" class="newpost-content-field"></textarea>
        <button class="newpost-submit-btn">submit</button>
    </form>
</body>
</html>