<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Details</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1 class="show-heading">Post-Details</h1>
    <div class="post">
        <p class="post-id">post-id: <%= post.userId %></p>
        <h3 class="user">username: @<%= post.username %></h3>
        <p class="content">content: <%= post.content %></p>
        <div class="post-btns back-to-home">
            <a href="http://localhost:8080/posts/">home</a>
        </div>
    </div>
</body>
</html>